
.modal-window#modalOfferchat
  .modal.col-md-offset-2.col-md-8
    .modal-header
      %a.close
        &times;
    .preview-image
      = image_tag "offerchat-screen1.png"
    .preview-image
      = image_tag "offerchat-screen2.png"
    .preview-image
      = image_tag "offerchat-screen3.png"
    .preview-image
      = image_tag "offerchat-screen4.png"
    .preview-image
      = image_tag "offerchat-screen6.png"
    .preview-image
      = image_tag "offerchat-screen5.png"
.modal-backdrop