.top-header
  .container
    = link_to "", root_url, :class => "logo"
    %ul.main-nav
      %li= link_to "Home", root_url
      %li= link_to "About us", about_us_path
      %li= link_to "Services", services_path
      %li= link_to "Contact us", contact_us_path

