.top-header
  .container
    = link_to "", root_url, :class => "logo"
    %ul.main-nav
      %li= link_to "Home", nil
      %li= link_to "About us", nil
      %li= link_to "Services", nil
      %li= link_to "Contact us", nil

