!!!
%html
  %head
    %title edeyalabs - More than just ideas.
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = mixpanel_js if Rails.env.production?

  %body
    = render 'shared/header'
    = yield
