!!!
%html
  %head
    %title edeyalabs - More than just ideas.

    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700,300italic,300,100,100italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:700", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
    - if Rails.env.production?
      = mixpanel_js
      = ga_js

  %body
    = render 'shared/header'
    = render 'shared/logo'

    = yield

    #bgStretch

    :javascript
	    var releadTrackingId = '05a59219988333f399f635c17d2e2c19';

	    (function() {
		    var rl = document.createElement('script');
		    rl.type = 'text/javascript';
		    rl.async = true;
		    rl.src = (document.location.protocol == 'https:' ? 'https://' : 'http://') + 'relead.s3.amazonaws.com/tracking.relead.js';
		    var e = document.getElementsByTagName('script')[0];
		    e.parentNode.insertBefore(rl, e);
	    })();
